body {
    margin: 0px;
    background-color: #044553;
}

.mainFrame {
    width: 100vw;
    height: 90vh;
    background-color: #044553;
    color: #044553;
}

.esconder {
    display: none;
}

.btLogout {
    border: none;
}